*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	font-family: "Arimo";
	color: hsla(0, 0%, 0%, 1);
}
.frame-title{
	text-align: center;
	font-weight: bold;
	font-size: 130%;
	position: sticky;
	top: 0;
	background-image: linear-gradient(to right, red, yellow, yellow);
}
#content{
	padding-top: 10px;
}
#ipicture{
	display: block;
	width: 320px;
	height: 180px;
	border-radius: 4px;
	margin: auto;
}
.h1{
	margin: 10px 0px 10px 0px;
	font-weight: bold;
	font-size: 120%;
}
.h2{
	margin: 5px 0px 5px 0px;
	font-weight: bold;
	font-size: 105%;
}
ul{
	list-style: none;
}
li{
	font-size: 90%;
	margin-left: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
}
p{
	text-align: justify;
}
table{
	padding: 10px;
	border-spacing: 15px;
	border-collapse: separate;
}
.bordered{
	border: 1px solid black;
	border-collapse: collapse;
}
td{
	vertical-align: top;
	padding: 10px;
	width: 50%;
}
a:link{
	color: #0000EE;
}
a:visited{
	color: #551A8B;
}
#back{
	margin-left: 10px;
	margin-bottom: 10px;
}
.small{
	font-size: 95%;
}